{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - RentWheels</title>

  <!-- custom css for login -->
   <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

  <!-- Messages in Top Right -->
  <div class="messages-container">
    {% if messages %}
      {% for message in messages %}
        <div class="{% if message.tags == 'success' %}success-msg{% else %}error-msg{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <div class="form-container">
    <p class="title">Welcome Back</p>
    <p class="subtitle">Login to RentWheels Nepal</p>

    <form method="POST">
      {% csrf_token %}
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Your username" required>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Your password" required>
        <div class="forgot"><a href="#">Forgot Password?</a></div>
      </div>
      <button type="submit" class="sign">Sign In</button>
    </form>

    <div class="social-message">
      <div class="line"></div>
      <p class="message">or continue with</p>
      <div class="line"></div>
    </div>

    <div class="social-icons">
      <form class="social-form" method="POST" action="{% url 'google_login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="/">
        <button type="submit" class="icon" aria-label="Sign in with Google">
          <img src="https://media.wired.com/photos/5926ffe47034dc5f91bed4e8/3:2/w_2560%2Cc_limit/google-logo.jpg" height="25px" width="30px" style="border-radius: 50%;" alt="google photo">
          Sign in with Google
        </button>
      </form>
    </div>

    <p class="signup">Don't have an account? <a href="/accounts/register/">Sign up</a></p>
  </div>

</body>
</html>